.App {
  text-align: center;
}
.app {
  background-color: white;
  margin: 0 auto; 
  padding: 2%; 
}

.app.dark {
  background-color: black;
}
body {
  background-color: white;
}

body.dark-mode {
  background-color: black;
}
